SurfGenBound.exe
*.mod
*.obj
example/
avx/*.f90
accurate/*.f90
My Advisor Results - SurfGenBound/
x64/
*.u2d
*.vfproj
.vscode/
*.in
*.all
*.data
*.xyz
intcfl
Fmat*
*.CheckPoint
*.out
*.txt
*.geom
g80
h80
